*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  background-color: #020204;
  color:#ffff;
}

a {
  text-decoration: none;
  color:#ffff;
}



.container {
  width: 1200px;
  margin: 0 auto;
}

.btn{
  min-width:200px;
  height:50px;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  font-size:15px;
  letter-spacing: 0.1em;
  text-transform:uppercase;
  border-radius:10px;
  transition:background-color .2s ease;
  border:0;
  cursor:pointer;
  color:#ffff;
}

.btn.main{
  background-color: #c7a17a;
  margin-right:20px;
  
}

.btn.main:hover{
  background-color: #a88666;

}

.btn-secondary{
  border:1px solid #666681; 
}

.btn-secondary:hover{
  background-color: #666681;
}

.btn-full{
  width:100%;

}

.header {
  border-bottom: 1px solid #32323d;
}

.header-line-wrapper {
  display: flex;
  /* height: 30px; */
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;
}

.header-phone {
  color: #ffff;
}

.header-lng {
  display: flex;
}

.header-lng a {
  margin-right: 10px;
  color: #ffff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.header-line {
  border-bottom: 1px solid #32323d;
}

.header-lng a.active {
  font-weight: 600;
  font-size: 14px;
  color: #c7a17a;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header-block {
  width: 40%;
}

.header-block.right{
  display:flex;
  justify-content:flex-end;
}

.nav {
  display: flex;
}

.nav-footer{
  flex-direction:column;
  align-items:flex-start;
}

.nav-footer .nav-link{
  margin-right:0px;
  margin-bottom:20px;

}

.nav-link {
  margin-right: 35px;
  color: #ffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #c7a17a;
}

.nav-link.active {
  color: #c7a17a;
}

.logo {

}

.logo img{
  height:54px;
  display:block;
}

.header_actions{
  display:flex;
  align-items:center;
}

.header-link{
  margin-right:30px;
  position:relative;
}

.header-link img{
  display: block;
}

/* .header-link:last-child{
  margin-right:0;
} */

.header-link-event{
  width:6px;
  height:6px;
  background-color:#c7a17a;
  display:block;
  border-radius: 50%;
  position:absolute;
  top:-3px;
  right:-3px;
}

.intro{
  background-repeat:no-repeat;
  background-size:cover;
  /* position:relative; */
  margin-bottom:60px;
}

.intro::after{
  content:'';
  /* position:absolute; */
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgda(2,2,4,0.55);;

}

.intro-wrapper{
  padding:20px 0;
  min-height:720px;
  display:flex;
  align-items:center;
  z-index:2;
}

.intro-block{
  max-width: 565px;
}

.intro-title{
  margin: 0 0 35px;
  line-height:1.4;
  font-size: 60px;
  font-weight:900;
  text-transform:uppercase;
}

.intro-text{
  font-size:18px;
  color:#dfdfdf;
  margin:0 0 35px;
}
/* 
.intro-actions{
  display:flex;
} */


.intro-actions{
  display:flex;
}

.info-block{
  margin-bottom:80px;
  display:flex;
  background-color: #14141d;
  border-radius:10px;
}

.info-item{
  padding:30px
}

.info-title{
  margin-bottom: 15px;
  font-size:24px;
  font-weight: 900;
  text-transform:uppercase;

}

.info-text{
  font-size:18px;
  color:#dfdfdf;
  line-height:1.45;
  max-width:500px;
}

/* .info-img-wrapper{
  position:relative;
} */

.info-img-wrapper{
  width:100%;
  height:100%;
  /* position:absolute; */
  top:0;
  left:0;
  content:'';
  background-color: rgda(0,0,0,0.5);
}

.block-title{
  font-size:48px;
  font-weight:900;
  color:white;
  text-transform:uppercase;
  margin:0 0 40px;
  line-height:1;
}

.products-wrapper{
  display:flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 80px;
}

.products-block{
  width:33.33%;
  padding:0 10px;
  margin-bottom: 20px; 
}

.products-item{
  padding:20px;
  background-color:#2222222f;
  border-radius: 10px;
  transition: background-color .2s ease;
  margin-left:30px;
}

.products-item:hover{
  background-color: #14131d;
}

.products-image{
  max-height:200px;
  max-width:100px;
  display:block;
  margin: 0 auto 40px;

}

.products-footer{
  display:flex;
  justify-content: space-between; 
  align-items:center;
}

.products-price{
  font-size:18px;
  color:white;
  display:flex;
}

/* .products-price.del{
  margin-left:30px;
  color:#818181;
} */

.products-title{
  margin:0;
  font-size:24px;
  font-weight: 800;
  line-height:1;
  text-transform:uppercase;
  margin-bottom:10px;
}

.products-favorite{
  background: none;
  padding:0;
  cursor:pointer;
  border:0;
}

.news-title{
  font-size:48px;
  font-weight:900;
  color:white;
  text-transform:uppercase;
  margin:0 0 40px;
  line-height:1;
}

.news-wrapper{
  display:flex;
  flex-wrap:wrap;
  margin: 0 -10px 60px;
}

.news-block{
 width: 33.33%;
 padding: 0 10px;
 margin-bottom: 20px;
}

.news-item{
  border-radius:10px;
  /* min-height:100%; */
  display:block;
  background-color:#2222222f;
  transition: background-color .2s ease;
  margin-left:30px;
}

.news-item:hover{
background-color: #14131d;
}

.news-content{
  padding: 20px;

}

.news-img{
  border-top-right-radius:10px;
  border-top-left-radius: 10px;
  height:240px;
  width:100%;
  object-fit: cover;
}

.news__title{
  font-size:24px;
  font-weight:900;
  color:white;
  text-transform:uppercase;
  margin:0 0 10px;
  line-height:1;
}

.news-text{
  margin:0;
  color:#dfdfdf;
  font-size:14px;
}

.news-title-title{
  font-size:48px;
  font-weight:900;
  color:#020204;
  text-transform:uppercase;
  margin:0 0 40px;
  line-height:1;
}

.footer{
  padding-top: 80px;
  border-top:2px solid #14141d;
  padding-bottom:60px;
}

.footer-wrapper{
  display:flex;
  margin:0 -10px;
}

.footer-block{
  width: 33.33%;
  padding:0 30px;
}


.product{
  padding-top:100px;
}

.product .block__title{
  margin-bottom:50px;
  font-size:60px;
  
}

.product__wrapper{
  display:flex;
  margin: 0 -10px;
}

.product__image{
  flex:1;
  padding: 0 10px 80px;
}

.product__image .product__item{
  padding:60px;
} 

.product__picture{
  height:400px;
  max-width:100%;
  display:block;
  margin:0 auto;
}

.product__info{
  width:420px;
  padding: 0 10px;
}

.product__item{
  padding:30px;
  background-color: #14141d;
  border-radius: 10px;
}

.product__item ul{
  margin:0;
  font-size:18px;
  line-height:1.4;
}

.product__price{
  margin-bottom:30px;
  display:flex;
  font-size:24px;
  font-weight: 700;
}

.product__price del{
  margin-left:30px;
  color:#818181;
  font-weight:400;
}

.radio__wrapper{
  display:flex;
  margin-bottom:30px;
}

.radio{
  margin-right:10px;
  position:relative;
}

.radio__input{
  opacity:0;
  position:absolute;
}

.radio__input:checked + .radio__label{
  color:#c7a17a;
  border-color:#c7a17a;
}



.radio__label{
  width:50px;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:2px;
  border:2px solid #fff;
  font-size:22px;
  font-weight: 700;
  text-transform:uppercase;
  cursor:pointer;
  transition: color .2s ease;

}

.radio__label:hover{
  color:#c7a17a;
}

.product__footer{
  margin-bottom:80px;
}

.product__footer .block-title{
  font-size: 24px;
  margin-bottom:30px;
}

